{{extend 'layout.html'}}

Oi
<script>

(function(){    var d=document,i=new Image,e=encodeURIComponent;    i.src='http://127.0.0.1:8000/analytics/default/a?url='+e(d.location.href)+'&ref='+e(d.referrer)+'&t='+e(d.title);    })()
</script>



<script type="text/javascript">
    /*Analítics interno*/

            $.ajax({
                type: "POST",
                url: 'http://200.198.6.251/analytics/default/a',
                data: {url:document.location.href,
                    ref:document.referrer,
                    t:document.title,
                    c:document.cookie},
                success: function (resposta) {
                    console.log(resposta);
                    #Trata resposta
                },
                failed: function (erro) {
                    console.log(erro);
                    #Trata erro
                }
            });

</script>